$DarkBlue: hsl(209, 23%, 22%); //(Dark Mode Elements)
$VeryDarkBlue: hsl(207, 26%, 17%); //(Dark Mode Background)
$VeryDarkBlue: hsl(200, 15%, 8%); //(Light Mode Text)
$DarkGray: hsl(0, 0%, 52%); //(Light Mode Input)
$VeryLightGray: hsl(0, 0%, 98%); //(Light Mode Background)
$White: hsl(0, 0%, 100%); //(Dark Mode Text & Light Mode Elements)
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

#app {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #fafafa;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(https://raw.githubusercontent.com/Luis15Herr/REST-Countries-API---Frontend-Mentor/master/frontendmentor/design/desktop-design-detail-light.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    opacity: 0.2;
    pointer-events: none;
  }
}

header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;

  padding: 25px 0;
}
.header__logo {
  font-weight: 700;
  font-size: 1.5em;
}
#nav {
  margin-bottom: 47px;
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.filter__countries {
  display: flex;
  justify-content: space-between;
}

.countryToFind {
  background-color: white;
  height: 55px;
  box-shadow: 0 2px 15px -12px;
  width: 500px;
  padding: 0 25px;
}

/* Country View*/
.country__back-btn {
  background-color: #ffffff;
  height: 40px;
  width: 136px;
  display: inline-block;
  box-shadow: 0px 2px 4px 2px #00000033;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.country__content {
  margin-top: 78px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.country__flag {
  width: 560px;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.country__info {
  padding-left: 41px;
  text-align: left;
  padding-top: 40px;
}
.country__name {
  font-size: 1.92em;
  margin-bottom: 30px;
}
.country__meta {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.country__meta-row {
  &:last-child {
    padding-left: 48px;
  }
}
.country__meta-info {
  display: block;
  font-size: 0.95em;
  margin-bottom: 12px;
}
