$DarkBlue: hsl(209, 23%, 22%); //(Dark Mode Elements)
$VeryDarkBlueBg: hsl(207, 26%, 17%); //(Dark Mode Background)
$VeryDarkBlue: hsl(200, 15%, 8%); //(Light Mode Text)
$DarkGray: hsl(0, 0%, 52%); //(Light Mode Input)
$VeryLightGray: hsl(0, 0%, 98%); //(Light Mode Background)
$White: hsl(0, 0%, 100%); //(Dark Mode Text & Light Mode Elements)

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}

#app {
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(219, 219, 219);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(230, 230, 230) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//Theme Ligth

.light__theme {
  background-color: $VeryLightGray;
  #app,
  body {
    color: $VeryDarkBlue;
    transition: background 0.2s;
  }
  .searchForm,
  .countryToFind,
  .selectFilter,
  .card {
    background-color: white;
    color: $VeryDarkBlue;
  }
  .selectFilter,
  .searchForm {
    box-shadow: 0 2px 15px -12px;
  }
  .countryToFind {
    color: $DarkGray;
  }
}
//Theme Dark

.dark__theme {
  background-color: $VeryDarkBlueBg;

  #app,
  body {
    color: $White;
    transition: background 0.2s;
  }
  .searchForm,
  .countryToFind,
  .selectFilter,
  .card,
  .countryToFind,
  header {
    background-color: $DarkBlue;
    color: $White;
  }

  .selectFilter,
  .searchForm {
    box-shadow: 0px 2px 8px 0px #0000000f;
  }
  .countryToFind {
    &::placeholder {
      color: $White;
    }
  }
}

header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 23px 0 25px 0px;
}
.header__logo {
  font-weight: 700;
  font-size: 1.48em;
}
#nav {
  margin-bottom: 47px;
}
.header__theme-switcher {
  button {
    font-size: 0.95em;
    font-weight: 700;
    margin-top: 7px;
    margin-left: 10px;
    padding: 0;
    color: inherit;
    background-color: transparent;
    i {
      margin-right: 7px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.container {
  width: 1280px;
  margin: 0 auto;
}

.filter__countries {
  display: flex;
  justify-content: space-between;
}

.searchForm {
  height: 57px;
  border-radius: 5px;
}

.bi-search {
  padding-left: 33px;
  cursor: pointer;
}
.bi-house {
  padding-left: 33px;
  display: inline-block;
  animation: bellshake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;

  &:hover {
    cursor: pointer;
    backface-visibility: hidden;
    transform-origin: top right;
  }
}

@keyframes bellshake {
  0% {
    transform: rotate(0);
  }
  10% {
    //10
    transform: rotate(5deg);
  }
  15% {
    //15
    transform: rotate(-5deg);
  }
  20% {
    //20
    transform: rotate(4deg);
  }
  30% {
    //30
    transform: rotate(-4deg);
  }
  40% {
    //40
    transform: rotate(2deg);
  }
  50% {
    //50
    transform: rotate(-2deg);
  }
  75% {
    //75
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}
.autoComplete__results {
  background-color: white;
  margin-top: 10px;
  width: 100%;
  z-index: 5;
  position: relative;
  box-shadow: 0 2px 15px -12px;
  li {
    padding: 10px 0;
    list-style: none;
    text-align: left;
  }
}

.countryToFind {
  height: 55px;
  padding: 0 25px;
  padding-top: 5px;
  width: 430px;
  outline: none;
}
.selectFilter {
  width: 200px;
  border-right: solid 15px transparent;
  padding-left: 20px;
  padding-top: 5px;
  font-weight: 600;
  border-radius: 3px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}
.list__countries {
  z-index: 6;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 75px;
  column-gap: 75px;
  grid-auto-rows: 335px;
}

.card {
  width: 264px;
  height: 100%;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 1px #0000000a;
}
.card:hover {
  animation: float 1.5s linear infinite;
  cursor: pointer;
}
.card__img {
  width: 100%;
  height: 160px;
}
.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__info {
  text-align: left;
  padding: 25px 25px;
}

.card__title {
  width: 100%;
  display: block;
  font-weight: 800;
  font-size: 1em;
  font-size: 1.1em;
  margin-bottom: 17px;
}
.card__meta-info {
  display: block;
  font-size: 0.8em;
  margin-bottom: 6px;
}

/* Country View*/
.dark__theme .country__back-btn {
  background-color: $DarkBlue;
  color: $White;
}
.light__theme .country__back-btn {
  background-color: #ffffff;
}

.country__back-btn {
  height: 40px;
  width: 136px;
  display: inline-block;
  box-shadow: 0px 2px 4px 2px #00000033;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  i {
    font-size: 22px;
    margin-right: 5px;
  }
}
.country__content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.country__flag {
  width: 560px;
  height: 400px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.country__info {
  padding-left: 41px;
  text-align: left;
  padding-top: 40px;
}
.country__name {
  font-size: 1.92em;
  margin-bottom: 30px;
}
.country__meta {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.country__meta-row {
  &:last-child {
    padding-left: 48px;
  }
}
.country__meta-info {
  display: block;
  font-size: 0.95em;
  margin-bottom: 12px;
}

.country__borders {
  margin-top: 61px;
  display: grid;
  grid-template-columns: 140px 1fr;
}
.country__borders-title {
  margin-right: 11px;
  font-size: 0.95em;
  font-weight: bold;
}

.dark__theme .country__borders-item {
  background-color: $DarkBlue;
  color: $White;
}
.light__theme .country__borders-item {
  color: $VeryDarkBlue;
  background-color: $White;
}

.country__borders-item {
  box-shadow: 0px 0px 2px 2px #0000001a;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 0.85em;
  min-width: 96px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .header__logo {
    font-size: 1em;
  }
  .header__wrapper {
    padding: 35px 19px 35px 17px;
  }
  .header__theme-switcher button {
    margin-top: 0;
    font-size: 0.8em;
  }
  .container {
    width: 100%;
  }
  #nav {
    margin-bottom: 25px;
  }
  .filter__countries {
    flex-direction: column;
    width: 92%;
    margin: auto;
  }
  .searchForm {
    margin-bottom: 45px;
    padding-left: 0;
  }
  .countryToFind {
    width: 75%;
  }
  .selectFilter {
    height: 53px;
    width: 227px;
  }
  .list__countries {
    grid-template-columns: 1fr;
    margin-top: 35px;
    grid-auto-rows: 380px;
    row-gap: 47px;
  }
  .card {
    width: 300px;
    margin: auto;
  }
  .card__img {
    height: 184px;
  }
  .card__info {
    padding: 27px 30px;
  }
  .card__title {
    font-size: 1.25em;
  }
  .card__meta-info {
    font-size: 0.9em;
    margin-bottom: 8px;
  }

  /*Country View*/

  .country {
    padding: 0 32px;
  }
  .country__back-btn {
    margin-top: 45px;
    height: 35px;
    width: 118px;
  }
  .country__content {
    grid-template-columns: 1fr;
    margin-top: 73px;
  }
  .country__flag {
    width: 100%;
    height: 260px;
  }
  .country__info {
    padding-left: 0;
    padding-top: 50px;
  }
  .country__meta {
    grid-template-columns: 1fr;
  }
  .country__meta-row:last-child {
    padding-left: 0;
    padding-top: 38px;
  }

  .country__meta-info {
    margin-bottom: 16px;
  }
  .country__name {
    font-size: 1.52em;
    margin-bottom: 26px;
  }
  .country__borders {
    margin-top: 32px;
    grid-template-columns: 1fr;
  }
  .country__borders-title {
    font-size: 1.08em;
  }
  .country__borders-wrapper {
    margin-top: 22px;
    padding-bottom: 40px;
  }
  .country__borders-item {
    min-width: 110px;
  }
}
